doctype html
html(lang="en")
	include head
	body
		div#mainContainer
			include header
			div#bodyContainer
				include navigation
				include left_panel
				div#main-body
					block body
						include article
			include footer
	include scripts